
*.stash

*.exe

*.o

*.user

App/gallery_qmlcache.qrc

*.mp3

*.dll

App/release/

App/debug/

App/Makefile

*.Debug

App/Makefile.Release

*.Release

App/phrasebook.txt

App/phrasebook_hl
